.skills-main-div {
  display: flex;
}
.skills-text-div {
  margin-left: 10px;
}

.skills-main-div > * {
  flex: 1;
  margin-bottom: 30px;
}

.skills-text-subtitle {
  margin-bottom: 0.5em;
}

.skills-image-div > img {
  max-width: 100%;
  height: auto;
}

.skills-heading {
  font-size: 56px;
  font-weight: 400;
}
.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.container .box {
  width: 350px;
  position: relative;
  padding: 40px;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 20px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}
.container .box .icon {
  position: relative;
  width: 70px;
  height: 70px;
  color: #fff;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 40px;
  font-weight: 700;
  transition: 1s;
}
.container .box:nth-child(1) .icon {
  box-shadow: 0 0 0 0 #f68e5f;
  background: #f68e5f;
}
.container .box:nth-child(1):hover .icon {
  box-shadow: 0 0 0 1000px #f68e5f;
}
.container .box:nth-child(2) .icon {
  box-shadow: 0 0 0 0 #84b082;
  background: #84b082;
}
.container .box:nth-child(2):hover .icon {
  box-shadow: 0 0 0 1000px #84b082;
}
.container .box:nth-child(3) .icon {
  box-shadow: 0 0 0 0 #4f6d7a;
  background: #4f6d7a;
}
.container .box:nth-child(3):hover .icon {
  box-shadow: 0 0 0 1000px #4f6d7a;
}
.container .box .content {
  position: relative;
  z-index: 1;
  transition: 0.5s;
}
.container .box:hover .content {
  color: #fff;
}
.container .box .content h3 {
  font-size: 20px;
  margin: 10px 0;
  padding: 0;
}
.container .box .content p {
  margin: 0;
  padding: 0;
}
.container .box:before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
  z-index: 2;
  pointer-events: none;
}
/* Media Query */
@media (max-width: 1380px) {
  .skills-heading {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .skills-heading {
    font-size: 30px;
    text-align: center;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
  }
  .skills-main-div {
    flex-direction: column;
  }
  .skills-text-div {
    margin-left: 0px;
    margin: 20px;
  }
  .skills-text {
    font-size: 16px;
  }
  .skills-text-subtitle {
    font-size: 16px;
    text-align: center;
  }
  .skills-image-div {
    /* display: none; */
    order: 2;
  }
}
