.main {
  width: 90%;
  margin: 0px auto;
  margin-top: 4rem;
}
.greet-main {
  width: 90%;
  margin: 0px auto;
  /* background-image: url("./gradient.png"); */
}

.gretting-main {
  width: 90%;
  margin: 0px auto;
}

.greeting-main {
  display: flex;
}

.greeting-main > * {
  flex: 1;
  margin-bottom: 30px;
}
.button-greeting-div {
  display: flex;
  margin-top: 20px;
}

.greeting-text {
  font-size: 70px;
  line-height: 1.1;
}

.profile-img {
  text-align: center;
  margin-top: 1em;
  border-radius: 50%;
  border-style: solid;
  border-width: 7px;
  border-color: grey;
  width: 500px;
  box-shadow: grey;
}

.greeting-text-p {
  margin-bottom: 0.5em;
  font-size: 30px;
  line-height: 40px;
}

.greeting-image-div > img {
  max-width: 100%;
  height: auto;
}
.greeting-text-div {
  margin-top: 3em;
}

/* Media Query */
@media (max-width: 1380px) {
  .greeting-text {
    font-size: 50px;
  }
  .greeting-text-p {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .profile-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .button-greeting-div {
    justify-content: space-around;
  }
  .greeting-text {
    font-size: 30px;
    text-align: center;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }
  .greeting-main {
    display: block;
  }
}
